body {
    margin: 0;
    padding: 0;
    background: #eeeeee;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000;
}
a {
    color: #0088cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.gameWrapper {
    display: flex;
    margin: 0 auto;
    padding: 10px 0 0 0;
    width: 960px;
}
.boardWrapper {
    flex: 1;
}
.boardGrid {
    float: left; /* fix width */
    padding: 1px;
    border: 1px solid #000;
}
.controlPanel {
    padding: 20px 10px 0 10px;
    width: 270px;
    height: 500px;
    border: 1px solid #000;
}
.boardWrapper .square {
    background: #fff;
}
.boardWrapper .square.onSnake {
    background: #000;
}
.boardWrapper .square.onFood {
    background: #0a0;
}
.controlPanel h2 {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}
.gameScoreInfo {
    display: flex;
    margin-bottom: 20px;
}
.gameScoreInfo span {
    margin-right: 10px;
}
.gameScoreInfo strong {
    flex: 1;
    font-size: 50px;
    color: #f00;
}
.gameInitControl > div {
    display: inline-block;
    margin-bottom: 10px;
    min-width: 50%;
}
.gameInitControl select {
    margin-right: 5px;
}
.gameInitControl span {
    margin-right: 5px;
}
.gameInitControl {
    margin-bottom: 10px;
}
.controlButtons {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-evenly;
}